/*header*/
.header {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
    align-items: center;
  }
}

//header-logo

.header__logo-wrap {
  flex-grow: 1;

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 15px;
  }
}

.header__logo-image {
  fill: $black;
  cursor: pointer;

  &:hover {
    fill: $light-blue;
  }

  &:active {
    fill: $blue;
  }
}

//header__menu-list

.header__menu-list {
  display: flex;
  padding-top: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  list-style: none;
  cursor: pointer;
  color: $light-blue;

  @media (max-width: $mobile-breakpoint) {
    margin: 0;
    padding: 0;
  }
}

.header__menu-item a {
  color: $blue2;
  margin-right: 19px;
  text-decoration: underline 1px $blue2 solid;

  &:hover {
    color: $light-blue;
    text-decoration: none;
  }

  &:active {
    color: $blue;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-right: 0;
  }
}

.header__menu-item:not(:nth-last-child(1)) {
  @media (max-width: $mobile-breakpoint) {
    margin-right: 19px;
  }
}

//header-button

.header__menu-user-button {
  padding: 6px 29px;
  width: 100px;
  height: 32px;
  margin-top: 22px;

  @media (max-width: $mobile-breakpoint) {
    margin-top: 18px;
  }
}


