//Template Colors
$black: #000000;
$white: #ffffff;
$blue: #0A6EA6;
$blue2: #0078BB;
$light-blue: #62B9EA;

$white-opacity: rgba(255, 255, 255, 0.6);


//Container width
$desktop-width: 999px;
$mobile-width: 335px;

//Breakpoints
$mobile-breakpoint: 767px;

//Template retina media
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


//Template Fonts for BODY
$main-fonts: "PT Sans", "Arial", sans-serif;
$sec-fonts: "PT Sans Narrow", "Arial", sans-serif;
$main-font-size: 16px;
$main-font-weight: 400;
